body {
    font-family: Arial, sans-serif;
    background-image: url(/picture/rep.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}
